@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
body{
	background-color: #bbbbbb;
}

.app{
	width:400px;
	height: 600px;
	background-color: #ffffff;
	margin-left: calc(50% - 200px);
	margin-top: calc(50% - 300px);
}

.header{
	border-bottom: 1px solid #000000;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.receptvddag{
	margin-top: 30px;
}